.about-row-background{
    background-color: rgba(0, 38, 69, 0.8);
    
}

.card-1{
    background-image: linear-gradient(to bottom right, #65799b, #5E2563);
}

.card-2{
    background-image: linear-gradient(to bottom right, #F5515F, #A1051D);
}

.card-3{
    background-image: linear-gradient(to bottom right, #76b622, #235304);
}

.card-4{
    background-image: linear-gradient(to bottom right, #5494dd, #640750);
}

