.about-row-background{
    background-color: rgba(0, 0, 69, 0.8);
    
}

.card-1{
    background-image: linear-gradient(to bottom right, #65799b, #5E2563);
}

.card-2{
    background-image: linear-gradient(to bottom right, #F5515F, #A1051D);
}

.card-3{
    background-image: linear-gradient(to bottom right, #76b622, #235304);
}

.card-4{
    background-image: linear-gradient(to bottom right, #5494dd, #640750);
}

#wheel, 
#leftWheel{
    animation: wheel 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}
#man{
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

@keyframes wheel{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes man{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
    }
}