.contact-our-team-row-bg{
    background-image: linear-gradient(to bottom right, rgba(231, 17, 0, 0.4), #cf6b0e);
}

.contact-us-form-row {
    min-height: 80vh;
    background-attachment: fixed;
    background-position: cover;
    background: url("https://images.unsplash.com/photo-1580426759369-ba52402a81a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=632&q=80");
    background-size: 100%;
    
}

