#nav {
    background-image: linear-gradient(to bottom right, rgba(70, 31, 0, 0.6), #002645);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
 
    
  }
  .active {
    visibility: visible;
    transition: all 0.5s;
  }
  .hidden {
    visibility: hidden;
    transition: all 0.5s;
    transform: translateY(-100%);
  }